{% extends 'base.html' %}
{% load static %}


{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/about-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mon Histoire</h1>
                    <span class="subheading">Lithothérapie</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Parce que je suis totalement émerveillés par la beauté de notre planète, il me tient à coeur de
                    vous partager ma passion pour les pierres de ce monde. En parcourant mon blog, vous aurez tout
                    le loisir d’y découvrir l’histoire des pierres, cristaux et minéraux, mais aussi leurs origines,
                    leurs symbôles et leurs traditions. Pour les plus adeptes et passionnés de lithothérapie, toutes les
                    propriétés et vertus des pierres vous y seront également expliquées.</p>
                <p>Au travers de mon blog, je souhaite offrir à quiconque le souhaite et quel que soit sa
                    bourse, une parcelle de notre si belle terre. J'ai la volonté profonde partager
                    avec vous ma passion.”</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
