{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Page Header -->
<!--<header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">-->
<header class="masthead" style="background-image: url('{{ target_post.image }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ target_post.title }}</h1>
                    <span class="subheading">{{ target_post.chakras }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header%}

{% block content %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ target_post.content|safe }}
                {% if user.is_superuser %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="{% url 'blog-edit_post' target_post.slug %}">Editer Article</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>


{% endblock content %}



